@page
@model wiseguy.Pages.AdminUserModel
@{
}
 

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Convert | Export html Table to CSV & EXCEL File</title>
    <link rel="stylesheet" type="text/css" href="~/css/PrincipalMenu.css">

</head>

<body>

    <nav class="navbar">
        <link rel="stylesheet" type="text/css" href="~/css/nav.css">
        <ul class="nav-links">
            <li><a href="AdminMenu">Home</a></li>
           
            <li><a href="Index">Log-out</a></li>


        </ul>
    </nav>
    <main class="table" id="customers_table">
        <section class="table__header">
            <h1>ADD USER</h1>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                 
            </div>
            <div class="export__file">
                <label for="export-file" class="export__file-btn" title="Export File"></label>
                <input type="checkbox" id="export-file">
                <div class="export__file-options">
                    <label>Export As &nbsp; &#10140;</label>
                    <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                    <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                    <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                    <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                </div>
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                        <tr>
                        <th> Name</th>
                        <th> Surname</th>
                        <th> Email</th>
                        <th> Role</th>
                        <th> Date</th>
                        <th> Action</th>
                        
                    </tr>
                </thead>
                <tbody>
                  
 

                    @if (Model.DisplayDetails)
                    {
                        foreach (var element in Model.list)
                        {
                            <tr>
                                <td>@element.name</td>
                                <td>@element.surname</td>
                                <td>@element.email</td>
                                <td>@element.role</td>
                                <td>@element.date</td>
                                
                                <td>
                                    <a href="AddStudent">Delete</a> <br />


                                </td>

                               
                            </tr>
                        }
                    }
                               
                     
 
                </tbody>
            </table>
        </section>
    </main>
    <script src="~/js/script.js"></script>
   
</body>

</html>